@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Inter:wght@400;500;600;700;800&family=Josefin+Sans&family=Lexend:wght@300;400;500;600;700&display=swap');
body{
   
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background-image:  url("./Components/Images/White Texture.svg"),  linear-gradient(74.03deg, #007ADB -13.13%, #004780 115.59%);

}

.pointer { cursor: pointer; }


/* Policy css */

#PrivacyPolicy{

    text-align: center;
    padding-bottom: 1em;
}

.Policy{

 font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 11.973px;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color:  rgba(0,0,0,0);
border: 0px;

}
.Policy:hover {
    color: #F37E21;
  }

/* NavBar css */
  .lang{
      
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 15.1338px;  
 color: white; 
 background-color:  rgba(0,0,0,0);
border: 0px;

  }
  .lang2{
      
    font-family: Cairo;
font-style: normal;
font-weight: bold;
font-size: 14px;

color: white; 
background-color:  rgba(0,0,0,0);
border: 0px;
  }
  
   .dot{
    height: 0.4em;
    width: 0.4em;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin:auto 0.4em 0.2em auto;
   }
       .backgroundbf{
        background-color:rgba(0,0,0,0);
      }
      .backgroundaf{
        background: rgba(1, 86, 155, 0.5);
    }

   
 .padding{
     margin-right: 2rem;
     font-family: 'Lexend',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
    
 }
 .nav-link{
    
     color: white !important;
 }

 .activelink{
    font-family: Lexend,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px; 
    
    border-bottom: 2px solid #FB9C4D;
}


 
/* Div1 css */
#header1{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 41.9px;
    line-height: 60px;
}
.p1{
   
font-family: Lexend;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
}
.p2{
    font-family: Lexend;
font-style: normal;
font-weight: normal;
font-size: 18.5937px;
line-height: 23px;
opacity: 0.85;
margin-bottom:25px;
}








.button1{

box-sizing: content-box;

    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 11.973px;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin:4px 19.7px 0px 0px;
    cursor: pointer;
    border-radius: 20.6893px ;
    background-color: #F37E21 ;
    border-color: #F37E21;
    border: 0.962293px;

}
.button1:hover {
    background-color: #ee7009;
}

.button2{
   
box-sizing: content-box;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 11.973px;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background-color:  rgba(0,0,0,0);
border: 0.962293px solid #FFFFFF;

border-radius: 20.6893px;

}
.button2:hover {
    background-color:  #FFFFFF;
    color: #F37E21;
  }

#waves{
    z-index: -1;
    position: absolute;
    top:443px;
    opacity: 30%;
    width: 100%;
}

/* Div2 css */
#header21{
  
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 41.9px;
    line-height: 60px;
}
.p21{
   
font-family: Lexend;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
}
.p22{
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 18.5937px;
    line-height: 23px;
opacity: 0.85;
margin-bottom:25px;
margin-top:1px;
}

.modal-dialog, .modal-content {
    height: 100% !important; 
  }
  
  .modal-body {
    height: 100% !important; 
   
  }

  /* Div3 css */

  .feature{
    float:left;
    padding-bottom:5em;
    margin:0px 25.5135px;
  }

.t1{

    font-family: Lexend;
    font-style: normal;
    font-weight: 500;
    font-size: 13.1458px;
    line-height: 21px;
}

.t2{
    font-family: Lexend;
font-style: normal;
font-weight: bold;
font-size: 32.8646px;
line-height: 33px;

}

.t3{

    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.85;
}

#underline{
    border-bottom: 5px solid #FBCE37;
}
  .title1{

    
font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 31.5045px;
line-height: 42px;

text-align: center;
font-feature-settings: 'salt' on, 'liga' off;
margin-bottom: 0;
  }

  .title2{

    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14.2386px;
    
    font-feature-settings: 'salt' on, 'liga' off;
    
      }

  .P31{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15.3081px;
    line-height: 20px;
margin-bottom: 0.5em;
    font-feature-settings: 'salt' on, 'liga' off;
    text-align: left;
  }

  .P32{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10.2054px;
    line-height: 17px;
    font-feature-settings: 'salt' on, 'liga' off;
    text-align: left;
  }
.P33{
    
font-family: Lexend;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
}

 /* Div4 css */
.video-con{
    position:relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.video-con video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


 .P41{
   
font-family: Lexend;
font-style: normal;
font-weight: 500;
font-size: 13.4042px;
line-height: 21px;
  }

  .P42{
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 33.5105px;
    line-height: 34px;
  }
.P43{
    
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 16.3145px;
    line-height: 20px; 
    opacity: 0.85;
}

.P44{
    
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 16.3145px;
    line-height: 51px;
    font-feature-settings: 'salt' on, 'liga' off;
    }

    
#underline2{
    border-bottom: 5px solid #FB9C4D;
}

.Div4{
    display:inline-block;
    width:25%;
    height:30%;
    text-align:center;
    padding-left: 0px !important;
    
}
.Div4-1{
    
    font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 62.436px;
line-height: 24%;
padding-top: 0.5em;


font-feature-settings: 'salt' on, 'liga' off;}
.Div4-2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15.609px;
  
 
    font-feature-settings: 'salt' on, 'liga' off;
    color: #ADADAD;
}
.Div4-3{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 13.8747px;

font-feature-settings: 'salt' on, 'liga' off;
margin: 0px 0px;
}

.center {
    text-align: center;
   
}

/* Contact us css */
.mail{
    float: left;
   margin: 0.5em 0.5em auto auto;
}
.pc1{

    font-family: Lexend,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34.2165px;
    line-height: 43px;
  
}
.pc2{
    font-family: Lexend, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18.5937px;
    line-height: 23px;
    opacity: 0.85;
}
.pc3{

    font-family: Lexend,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    
}
.pc4{
    font-family: Lexend,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
   
}
#underline3{
    border-bottom: 5px solid white;
}


/* Footer css */
.smart{
    min-width:125px;
    margin: auto auto 0.5em auto;
}

.download{
    min-width:100px;
    margin: 0.5em auto 0 auto;
}
.flinks{
display: inline-block;
text-decoration: none;
margin-right: 1.5em;
font-family: 'Lexend',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
line-height: 1.0625em;


color: #FFFFFF;

}
.flinks:hover{
   color: #FB9C4D;
}

.rights{
    
font-family: Lexend;
font-style: normal;
font-weight: 500;
font-size: 13.1667px;
line-height: 5em;
font-feature-settings: 'salt' on, 'liga' off;

}
.follow{
    
    display: inline-block;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12.3697px;
    line-height: 12px;
text-transform: uppercase;

}
.pageName{
  

    font-family: Josefin Sans;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 11px;
white-space: pre-line;
text-transform: uppercase;
}
.icon{
    margin:auto 0.5em 0.5rem 0.5em;
}

.socials{
    display: inline-block;
    margin-left: 0.5em;
}